* {
  box-sizing: border-box;
}

body {
  font-family: arial;
}

#container {
  border: 1px solid black;
  padding: 5px 10px 10px 10px;
  width: 376px;
  position: relative;
}

table {
  border-collapse: collapse;
  width: 356px;
}

thead tr {
  text-align: left;
}

td {
  padding: 3px 0;
}

h1 {
  font-size: 2.49em;
  margin: 7px 0 5px 0;
}

tr:hover {
  background-color: antiquewhite;
}

tr td:nth-of-type(2) {
  text-align: right;
}

tr:nth-of-type(n+4) td:nth-of-type(2) {
  font-weight: bold;
}

tr:nth-of-type(n+13) td:nth-of-type(2) {
  text-align: left;
  font-weight: normal;
}

tr:nth-of-type(n+16) td {
  line-height: 18px;
}

tr:nth-of-type(n+17) td {
  padding: 0;
  line-height: 20px;
}

tbody tr:first-child, tbody tr:nth-child(13) {
  border-bottom: 12px solid black;
}

tbody tr:nth-child(2) td, tr:nth-of-type(4) {
  padding-top: 10px;
  font-size: 0.9em;
}

td {
  line-height: 25px;
}

tbody tr:nth-of-type(1n+3) {
  border-top: 1px solid black;
}

tbody tr:nth-of-type(4) {
  border-top: 6px solid black;
}

tbody tr:nth-of-type(1n+16) {
  font-size: 0.85em;
}

tbody tr:nth-of-type(16) td, tbody tr:nth-of-type(24) td{
  padding-top: 10px;
}

tbody tr:nth-of-type(1n+17) {
  border-top: 0;
}

tbody tr:nth-of-type(18), tbody tr:nth-of-type(24) {
  border-top: 1px solid black;
}


.space {
  position: relative;
  left: 20px;
}

.bold {
  font-weight: bold;
}

.centerit {
  text-align: center;
}

#coverup1 {
  background-color: #FFF;
  position: absolute;
  height: 40px;
  width: 20px;
  top: 268px;
}

#coverup2 {
  background-color: #FFF;
  position: absolute;
  height: 40px;
  width: 20px;
  top: 428px;
}

/*.bottom-border {
  border-bottom: 15px solid black;
  padding-bottom: 5px;
}

.top-border {
  border-top: 1px solid black;
}*/
